In [1]:
import pandas as pd

## Oczyszczenie danych commitów

In [2]:
commits = pd.read_pickle('./../../data/00_db/commits.pkl')

### Informacje o zbiorze

In [3]:
commits.shape

(255176, 7)

In [4]:
commits.dtypes

id                       int64
sha                     object
author_id                int64
committer_id             int64
project_id               int64
created_at      datetime64[ns]
ext_ref_id              object
dtype: object

In [5]:
commits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255176 entries, 0 to 255175
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            255176 non-null  int64
 1   sha           255176 non-null  object
 2   author_id     255176 non-null  int64
 3   committer_id  255176 non-null  int64
 4   project_id    255176 non-null  int64
 5   created_at    255176 non-null  datetime64[ns]
 6   ext_ref_id    255176 non-null  object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 13.6+ MB

In [6]:
commits.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255176 entries, 0 to 255175
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            255176 non-null  int64
 1   sha           255176 non-null  object
 2   author_id     255176 non-null  int64
 3   committer_id  255176 non-null  int64
 4   project_id    255176 non-null  int64
 5   created_at    255176 non-null  datetime64[ns]
 6   ext_ref_id    255176 non-null  object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 53.1 MB

In [7]:
commits.memory_usage(deep=True)

Index                128
id               2041408
sha             24752072
author_id        2041408
committer_id     2041408
project_id       2041408
created_at       2041408
ext_ref_id      20669256
dtype: int64

In [8]:
commits.head()

,id,sha,author_id,committer_id,project_id,created_at,ext_ref_id
0,1,8047099afdfc5c973faa67a04f601a014de0fa73,17,17,10,2012-04-08 02:29:18,52343eefbd35436e92000003
1,2,e9c4795109cc83155632454f63f21fc4a0ae5a09,18,18,10,2011-12-29 21:12:27,52343ef0bd35436e92000004
2,3,d422788143f3dab35153480e76c437dd5f139484,18,18,10,2011-12-29 21:11:10,52343ef0bd35436e92000005
3,4,257e121a392cdaf8dee0f5fa884b612576fd3fbd,17,17,10,2011-12-29 20:54:15,52343ef0bd35436e92000006
4,5,f73e20da392a14d5cf749c471a4396395971d2c7,18,18,10,2011-12-29 20:29:49,52343ef1bd35436e92000007

### Usuwanie zbędnych danych

In [9]:
commits.drop(['sha', 'author_id', 'ext_ref_id'], axis=1, inplace=True)

In [10]:
commits.head()

   id  committer_id  project_id          created_at
0   1            17          10 2012-04-08 02:29:18
1   2            18          10 2011-12-29 21:12:27
2   3            18          10 2011-12-29 21:11:10
3   4            17          10 2011-12-29 20:54:15
4   5            18          10 2011-12-29 20:29:49

Usunięcie wierszy z brakującymi danymi, na podstawie których nie będzie można prowadzić sensownych analiz

In [11]:
commits.isnull().sum()

id              0
committer_id    0
project_id      0
created_at      0
dtype: int64

Commity nie zawierają żadnych brakujących danych, więc nie wymagają oczyszczania

## Zmiana typów

In [12]:
commits.dtypes

id                       int64
committer_id             int64
project_id               int64
created_at      datetime64[ns]
dtype: object

Żaden typ nie wymaga zmiany

## Filtrowanie

Filtrowanie tylko tych commitów, które są stowarzyszone z jakimiś ID śledzonych projektów

In [13]:
projects = pd.read_pickle('../../data/01_data_from_db/projects.pkl')
projects.head()

   project_id             name language          created_at
0           1             akka    Scala 2009-02-16 12:51:54
1           2         devtools        R 2010-05-03 04:08:49
2           3  ProjectTemplate        R 2010-08-24 17:22:36
3           4    stat-cookbook        R 2012-04-23 20:24:37
4           5       hiphop-php      C++ 2010-01-02 01:17:06

In [14]:
commits = commits[commits['project_id'].isin(projects['project_id'])]

### Ponowne sprawdzenie informacji o zbiorze

In [15]:
commits.shape

(255172, 4)

In [16]:
commits.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255172 entries, 0 to 255175
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            255172 non-null  int64
 1   committer_id  255172 non-null  int64
 2   project_id    255172 non-null  int64
 3   created_at    255172 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 9.7 MB

Zmiana nazw kolumn

In [17]:
commits.rename(columns={'id': 'commit_id'}, inplace=True)
commits.head()

   commit_id  committer_id  project_id          created_at
0          1            17          10 2012-04-08 02:29:18
1          2            18          10 2011-12-29 21:12:27
2          3            18          10 2011-12-29 21:11:10
3          4            17          10 2011-12-29 20:54:15
4          5            18          10 2011-12-29 20:29:49

### Eksport do `.pkl`

In [18]:
commits.to_pickle('../../data/01_data_from_db/commits.pkl')