In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
db_connection_str = 'mysql+pymysql://msr14:haslo@localhost:3306/msr14'
db_connection = create_engine(db_connection_str)

Import commitów

In [3]:
commits = pd.read_pickle('data/commits.pkl')

In [4]:
commits.head()

   id  project_id          created_at
0   1          10 2012-04-08 02:29:18
1   2          10 2011-12-29 21:12:27
2   3          10 2011-12-29 21:11:10
3   4          10 2011-12-29 20:54:15
4   5          10 2011-12-29 20:29:49

## Pobranie i oczyszczenie danych komentarzy commitów

In [5]:
ALL_COMMITS_COMMENTS_QUERY = 'SELECT * FROM commit_comments'
commits_comments = pd.read_sql(ALL_COMMITS_COMMENTS_QUERY, con=db_connection)

### Informacje o zbiorze

In [6]:
commits_comments.shape

(60658, 9)

In [7]:
commits_comments.dtypes

id                     int64
commit_id              int64
user_id                int64
body                  object
line                 float64
position             float64
comment_id             int64
ext_ref_id            object
created_at    datetime64[ns]
dtype: object

In [8]:
commits_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60658 entries, 0 to 60657
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          60658 non-null  int64
 1   commit_id   60658 non-null  int64
 2   user_id     60658 non-null  int64
 3   body        60658 non-null  object
 4   line        19075 non-null  float64
 5   position    19075 non-null  float64
 6   comment_id  60658 non-null  int64
 7   ext_ref_id  60658 non-null  object
 8   created_at  60658 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 4.2+ MB

In [9]:
commits_comments.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60658 entries, 0 to 60657
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          60658 non-null  int64
 1   commit_id   60658 non-null  int64
 2   user_id     60658 non-null  int64
 3   body        60658 non-null  object
 4   line        19075 non-null  float64
 5   position    19075 non-null  float64
 6   comment_id  60658 non-null  int64
 7   ext_ref_id  60658 non-null  object
 8   created_at  60658 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 18.1 MB

In [10]:
commits_comments.head()

,id,commit_id,user_id,body,line,position,comment_id,ext_ref_id,created_at
0,28479,53162,16,I posted this as a patch file several weeks ag...,NaN,NaN,390328,524dd257bd3543ae270027f6,2011-05-19 10:37:02
1,28480,53162,16,"In addition this fix should close issues 395,7...",NaN,NaN,390339,524dd258bd3543ae270027f7,2011-05-19 10:45:11
2,28481,53162,16,"Pitcrawler, take a look at those tickets that ...",NaN,NaN,390354,524dd258bd3543ae270027f8,2011-05-19 10:58:56
3,28482,53162,16,Well my fix was almost exactly the same (I use...,NaN,NaN,390464,524dd258bd3543ae270027f9,2011-05-19 12:49:00
4,28483,53162,16,"You made fix for deep wounds stacking, but i t...",NaN,NaN,390506,524dd258bd3543ae270027fa,2011-05-19 13:16:08

### Usuwanie zbędnych danych

`user_id` oraz `ext_ref_id` nie są potrzebne, tak samo jak `line` i `position`, które dotyczą konkretnych fragmentów, których dotyczy komentarz  

**nie do końca wiem czym jest `comment_id`, skoro mam `id`, wydaje sie to dziwnym duplikatem, przy czym wartości są różne w obu kolumnach**

In [11]:
commits_comments.drop(['user_id', 'line', 'position', 'ext_ref_id', 'comment_id'], axis=1, inplace=True)

In [12]:
commits_comments.shape

(60658, 4)

In [13]:
commits_comments.isnull().sum()

id            0
commit_id     0
body          0
created_at    0
dtype: int64

Nie ma żadnych brakującyc danych, komentarze nie wymagają więc oczyszczenia

### Zmiana typów

In [14]:
commits_comments.dtypes

id                     int64
commit_id              int64
body                  object
created_at    datetime64[ns]
dtype: object

Żaden typ nie wymaga zmiany

### Filtrowanie

Filtrowanie tylko tych komentarzy, które dotyczą commitów, które mam

In [15]:
commits_comments = commits_comments[commits_comments.commit_id.isin(commits.id)]

Ponowne sprawdzenie informacji o zbiorze

In [16]:
commits_comments.shape

(37551, 4)

In [17]:
commits_comments.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37551 entries, 0 to 60303
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          37551 non-null  int64
 1   commit_id   37551 non-null  int64
 2   body        37551 non-null  object
 3   created_at  37551 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 7.4 MB

### Eksport do `.pkl`

In [19]:
commits_comments.to_pickle('data/commits_comments.pkl')