In [1]:
import pandas as pd

## Oczyszczenie danych komentarzy issues

In [2]:
issue_comments = pd.read_pickle('./../../data/00_db/issue_comments.pkl')

### Informacje o zbiorze

In [3]:
issue_comments.shape

(534104, 5)

In [4]:
issue_comments.dtypes

issue_id               int64
user_id                int64
comment_id            object
created_at    datetime64[ns]
ext_ref_id            object
dtype: object

In [5]:
issue_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534104 entries, 0 to 534103
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   issue_id    534104 non-null  int64
 1   user_id     534104 non-null  int64
 2   comment_id  534104 non-null  object
 3   created_at  534104 non-null  datetime64[ns]
 4   ext_ref_id  534104 non-null  object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 20.4+ MB

In [6]:
issue_comments.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534104 entries, 0 to 534103
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   issue_id    534104 non-null  int64
 1   user_id     534104 non-null  int64
 2   comment_id  534104 non-null  object
 3   created_at  534104 non-null  datetime64[ns]
 4   ext_ref_id  534104 non-null  object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 86.3 MB

In [7]:
issue_comments.head()

   issue_id  user_id comment_id          created_at                ext_ref_id
0         2        6    6460008 2012-06-20 16:41:07  52343f3cbd35436de30000ba
1         2       24    6462188 2012-06-20 17:59:48  52343f3cbd35436de30000bb
2         2        6    6464892 2012-06-20 19:40:23  52343f3cbd35436de30000bc
3         2       24    6466645 2012-06-20 20:44:10  52343f3cbd35436de30000bd
4         2        6    6562256 2012-06-25 22:43:17  52343f3cbd35436de30000be

### Usuwanie zbędnych danych

In [8]:
issue_comments.drop(['user_id', 'ext_ref_id'], axis=1, inplace=True)

In [9]:
issue_comments.shape

(534104, 3)

In [10]:
issue_comments.isnull().sum()

issue_id      0
comment_id    0
created_at    0
dtype: int64

Nie ma żadnych brakujących danych, komentarze nie wymagają więc oczyszczenia

### Zmiana typów

In [11]:
issue_comments.dtypes

issue_id               int64
comment_id            object
created_at    datetime64[ns]
dtype: object

In [12]:
issue_comments.comment_id = issue_comments.comment_id.astype('int64')

In [13]:
issue_comments.dtypes

issue_id               int64
comment_id             int64
created_at    datetime64[ns]
dtype: object

### Filtrowanie

Filtrowanie tylko tych komentarzy, które dotyczą issues, które analizuję

In [14]:
issues = pd.read_pickle('../../data/01_data_from_db/issues.pkl')
issues.head()

   issue_id  project_id          created_at
0         1           4 2012-10-10 07:53:00
1         2           4 2012-06-20 15:23:42
2         3           3 2013-05-15 12:48:49
3         4           3 2013-01-29 17:08:05
4         5           3 2013-01-21 17:37:35

In [15]:
issue_comments = issue_comments[issue_comments.issue_id.isin(issues.issue_id)]

Ponowne sprawdzenie informacji o zbiorze

In [16]:
issue_comments.shape

(534059, 3)

In [17]:
issue_comments.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 534059 entries, 0 to 534103
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   issue_id    534059 non-null  int64
 1   comment_id  534059 non-null  int64
 2   created_at  534059 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 16.3 MB

In [18]:
issue_comments.head()

   issue_id  comment_id          created_at
0         2     6460008 2012-06-20 16:41:07
1         2     6462188 2012-06-20 17:59:48
2         2     6464892 2012-06-20 19:40:23
3         2     6466645 2012-06-20 20:44:10
4         2     6562256 2012-06-25 22:43:17

### Eksport do `.pkl`

In [19]:
issue_comments.to_pickle('../../data/01_data_from_db/issue_comments.pkl')