In [1]:
import pandas as pd

## Oczyszczenie danych historii pull requestów

In [2]:
pr_history = pd.read_pickle('./../../data/00_db/pull_request_history.pkl')

### Informacje o zbiorze

In [3]:
pr_history.shape

(188603, 6)

In [4]:
pr_history.dtypes

id                          int64
pull_request_id             int64
created_at         datetime64[ns]
ext_ref_id                 object
action                     object
actor_id                    int64
dtype: object

In [5]:
pr_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188603 entries, 0 to 188602
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               188603 non-null  int64
 1   pull_request_id  188603 non-null  int64
 2   created_at       188603 non-null  datetime64[ns]
 3   ext_ref_id       188603 non-null  object
 4   action           188603 non-null  object
 5   actor_id         188603 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 8.6+ MB

In [6]:
pr_history.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188603 entries, 0 to 188602
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               188603 non-null  int64
 1   pull_request_id  188603 non-null  int64
 2   created_at       188603 non-null  datetime64[ns]
 3   ext_ref_id       188603 non-null  object
 4   action           188603 non-null  object
 5   actor_id         188603 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 31.7 MB

In [7]:
pr_history.head()

,id,pull_request_id,created_at,ext_ref_id,action,actor_id
0,1,72479,2013-09-14 21:04:58,5251051ebd3543c146000002,opened,57729
1,2,72479,2013-09-19 18:28:46,5251051ebd3543c146000002,closed,57729
2,3,72480,2013-09-08 19:05:57,5251051ebd3543c146000003,opened,210589
3,4,72480,2013-09-16 21:06:50,5251051ebd3543c146000003,closed,210589
4,5,72481,2013-08-27 22:19:38,5251051ebd3543c146000004,opened,204442

### Usuwanie zbędnych danych

In [8]:
pr_history.drop(['ext_ref_id', 'actor_id'], axis=1, inplace=True)

In [9]:
pr_history.shape

(188603, 4)

In [10]:
pr_history.isnull().sum()

id                 0
pull_request_id    0
created_at         0
action             0
dtype: int64

### Zmiana typów

In [11]:
pr_history.dtypes

id                          int64
pull_request_id             int64
created_at         datetime64[ns]
action                     object
dtype: object

In [12]:
pr_history.memory_usage(deep=True)

Index                   128
id                  1508824
pull_request_id     1508824
created_at          1508824
action             11881989
dtype: int64

In [13]:
pr_history.action = pr_history.action.astype('category')

In [14]:
pr_history.memory_usage(deep=True)

Index                  128
id                 1508824
pull_request_id    1508824
created_at         1508824
action              188872
dtype: int64

### Filtrowanie

Filtruję tylko te dane historii, które dotyczą analizowanych przeze mnie pull requestów.

In [15]:
pull_requests = pd.read_pickle('../../data/01_data_from_db/pull_requests.pkl')
pull_requests.head()

   pull_request_id  project_id  merged
0                1           4       1
1                2           4       0
2                3           3       0
3                4           3       1
4                5           3       1

In [16]:
pr_history.shape

(188603, 4)

In [17]:
pr_history = pr_history[pr_history.pull_request_id.isin(pull_requests.pull_request_id)]

In [18]:
pr_history.isnull().sum()

id                 0
pull_request_id    0
created_at         0
action             0
dtype: int64

Ponowne sprawdzenie informacji o zbiorze

In [19]:
pr_history.shape

(188603, 4)

In [20]:
pr_history.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188603 entries, 0 to 188602
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               188603 non-null  int64
 1   pull_request_id  188603 non-null  int64
 2   created_at       188603 non-null  datetime64[ns]
 3   action           188603 non-null  category
dtypes: category(1), datetime64[ns](1), int64(2)
memory usage: 5.9 MB

In [21]:
pr_history.rename(columns={'id': 'pull_request_history_id'}, inplace=True)
pr_history.head()

   pull_request_history_id  pull_request_id          created_at  action
0                        1            72479 2013-09-14 21:04:58  opened
1                        2            72479 2013-09-19 18:28:46  closed
2                        3            72480 2013-09-08 19:05:57  opened
3                        4            72480 2013-09-16 21:06:50  closed
4                        5            72481 2013-08-27 22:19:38  opened

### Eksport do `.pkl`

In [22]:
pr_history.to_pickle('../../data/01_data_from_db/pull_request_history.pkl')