In [1]:
import pandas as pd

## Pobranie i oczyszczenie danych obserwujących

In [2]:
watchers = pd.read_pickle('./../../data/00_db/watchers.pkl')

### Informacje o zbiorze

In [3]:
watchers.shape

(295798, 4)

In [4]:
watchers.dtypes

repo_id                int64
user_id                int64
created_at    datetime64[ns]
ext_ref_id            object
dtype: object

In [5]:
watchers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295798 entries, 0 to 295797
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   repo_id     295798 non-null  int64
 1   user_id     295798 non-null  int64
 2   created_at  295798 non-null  datetime64[ns]
 3   ext_ref_id  295798 non-null  object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 9.0+ MB

In [6]:
watchers.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295798 entries, 0 to 295797
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   repo_id     295798 non-null  int64
 1   user_id     295798 non-null  int64
 2   created_at  295798 non-null  datetime64[ns]
 3   ext_ref_id  295798 non-null  object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 29.6 MB

In [7]:
watchers.head()

   repo_id  user_id          created_at                ext_ref_id
0        1       49 2010-05-12 06:16:00  523addb7bd3543223900a4d5
1        1       79 2009-02-16 12:51:54  523addb6bd3543223900a2ec
2        1      141 2011-02-09 03:53:14  523addb7bd3543223900a5f6
3        1      153 2010-09-01 09:05:21  523addb7bd3543223900a545
4        1      210 2009-03-04 09:44:56  523addb7bd3543223900a31a

### Usuwanie zbędnych danych

In [8]:
watchers.drop(['user_id', 'ext_ref_id'], axis=1, inplace=True)

In [9]:
watchers.shape

(295798, 2)

In [10]:
watchers.isnull().sum()

repo_id       0
created_at    0
dtype: int64

Nie ma żadnych brakujących danych

### Zmiana typów

In [11]:
watchers.dtypes

repo_id                int64
created_at    datetime64[ns]
dtype: object

Żadna kolumna nie wymaga zmiany typu

### Filtrowanie

Filtrowanie tylko tych obserwacji, które dotyczą analizowanych projektów

In [12]:
projects = pd.read_pickle('../../data/01_data_from_db/projects.pkl')
projects.head()

   project_id             name language          created_at
0           1             akka    Scala 2009-02-16 12:51:54
1           2         devtools        R 2010-05-03 04:08:49
2           3  ProjectTemplate        R 2010-08-24 17:22:36
3           4    stat-cookbook        R 2012-04-23 20:24:37
4           5       hiphop-php      C++ 2010-01-02 01:17:06

In [13]:
watchers = watchers[watchers.repo_id.isin(projects.project_id)]

Ponowne sprawdzenie informacji o zbiorze

In [14]:
watchers.shape

(295798, 2)

In [15]:
watchers.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 295798 entries, 0 to 295797
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   repo_id     295798 non-null  int64
 1   created_at  295798 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 6.8 MB

In [16]:
watchers.rename(columns={'repo_id': 'project_id'}, inplace=True)
watchers.head()

   project_id          created_at
0           1 2010-05-12 06:16:00
1           1 2009-02-16 12:51:54
2           1 2011-02-09 03:53:14
3           1 2010-09-01 09:05:21
4           1 2009-03-04 09:44:56

### Eksport do `.pkl`

In [17]:
watchers.to_pickle('../../data/01_data_from_db/watchers.pkl')