In [1]:
import pandas as pd

In [2]:
pull_requests = pd.read_pickle('../../data/01_data_from_db/pull_requests.pkl')
pull_requests.head()

   pull_request_id  project_id  merged
0                1           4       1
1                2           4       0
2                3           3       0
3                4           3       1
4                5           3       1

In [3]:
pull_request_history = pd.read_pickle('../../data/01_data_from_db/pull_request_history.pkl')
pull_request_history.head()

   pull_request_history_id  pull_request_id          created_at  action
0                        1            72479 2013-09-14 21:04:58  opened
1                        2            72479 2013-09-19 18:28:46  closed
2                        3            72480 2013-09-08 19:05:57  opened
3                        4            72480 2013-09-16 21:06:50  closed
4                        5            72481 2013-08-27 22:19:38  opened

Merge kolumn przy użyciu kolumny `pull_request_id`

In [4]:
pull_requests_with_history = pd.merge(pull_requests, pull_request_history, on=['pull_request_id'], how='left', sort=False)
pull_requests_with_history.head()

,pull_request_id,project_id,merged,pull_request_history_id,created_at,action
0,1,4,1,510.0,2012-10-10 07:53:00,opened
1,1,4,1,511.0,2012-10-10 15:31:52,merged
2,1,4,1,512.0,2012-10-10 15:31:52,closed
3,2,4,0,500.0,2012-06-20 15:23:42,opened
4,2,4,0,501.0,2012-06-26 15:43:32,closed

Usunięcie braków

In [5]:
pull_requests_with_history.isnull().sum()

pull_request_id            0
project_id                 0
merged                     0
pull_request_history_id    3
created_at                 3
action                     3
dtype: int64

In [6]:
pull_requests_with_history.shape

(188606, 6)

In [7]:
pull_requests_with_history.dropna(how='any', inplace=True)

In [8]:
pull_requests_with_history.shape

(188603, 6)

Konwersja typów

In [9]:
pull_requests_with_history.dtypes

pull_request_id                     int64
project_id                          int64
merged                              int64
pull_request_history_id           float64
created_at                 datetime64[ns]
action                           category
dtype: object

In [10]:
pull_requests_with_history['pull_request_history_id'] = pull_requests_with_history['pull_request_history_id'].astype('int64')

In [11]:
pull_requests_with_history.dtypes

pull_request_id                     int64
project_id                          int64
merged                              int64
pull_request_history_id             int64
created_at                 datetime64[ns]
action                           category
dtype: object

In [12]:
pull_requests_with_history.head()

,pull_request_id,project_id,merged,pull_request_history_id,created_at,action
0,1,4,1,510,2012-10-10 07:53:00,opened
1,1,4,1,511,2012-10-10 15:31:52,merged
2,1,4,1,512,2012-10-10 15:31:52,closed
3,2,4,0,500,2012-06-20 15:23:42,opened
4,2,4,0,501,2012-06-26 15:43:32,closed

### Eksport do `.pkl`

In [13]:
pull_requests_with_history.to_pickle('../../data/01_data_from_db/pull_requests_with_history.pkl')